{% extends 'base.html.twig' %}

{% block body %}
    <div class="home-page">
    <div class="flexslider flexplaceholder placeholder-colorfix" style="direction:ltr;">
        <ul class="slides">
            {% for hero in hero_data %}
                <li>
                    <div class="image-cover" style="background-image: url('{{ hero.background_image }}')">
                    </div>
                    <div class="banner-content">
                        <div class="banner-container">
                            <div>
                                <h1>{{ hero.h1 }}</h1>
                                <h2>{{ hero.h2|raw }}</h2>
                                <a href="{{ hero.link }}" title="{{ hero.link_title }}" class="bla-1 btn {{ hero.button_color }}">{{ hero.link_text }} &gt</a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{#    <div style="display: none;" class="homepage-container white v-center" id="video_section">#}
{#        <div class="photo-attribution"></div>#}
{#        <div class="inner">#}

{#            <div class="hero__play-button center" data-toggle="modal" data-target="#jwplayer-modal">#}
{#            </div>#}
{#            <div class="hero__jar">#}
{#                <img src="/images/logow.svg" alt="logo">#}
{#            </div>#}
{#            <div class="modal fade" id="jwplayer-modal" role="dialog">#}
{#                <div class="modal-dialog modal-lg" role="document">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="homepage-container" id="about">
        <a name="about_section" class="home-anchor"></a>
        <div class="inner">
            <h2>RPS Automation</h2>
            <p class="body-copy">
                Since its inception, RPS Automation has brought quality Custom Machines and Integration to southeastern
                Michigan and beyond. We employ highly qualified specialists and seasoned workers who take pride in producing
                the best possible product. We provide a wide range of services that includes: secondary equipment, assembly,
                integration, and robotics.
                <br><br>
                We operate all of our services in our 38,000 sq-ft of manufacturing space. One of our talented program
                managers oversees production every step of the way.
            </p>
            <a href="/about" class="btn btn-white">Learn More</a>
            <p style="padding-top: 10px;">
                <a target="_blank" href="https://www.fanucamerica.com/system-integrators/robotics" rel="noreferrer"><img data-src="images/asi-logo.png" style="max-width:190px" alt="Fanuc logo" /></a>
            </p>
        </div>
    </div>
        {{ include('default/interest_section.html.twig') }}
{% endblock %}
